root {{ item.value.root }};

    # You can enable it back, and add error_page directive in
    # vhost['your_virtual_host'].nginx.settings
    log_not_found off;



    ## Locations

{% if item.value.nginx is defined %}

    {% for location_key, location in item.value.nginx.locations|dictsort %}

        {% if (location is not defined or not location or location_key == location) and nginx.settings.locations[location_key] is defined %}
          {% set location = nginx.settings.locations[location_key] %}
        {% elif location is not mapping and nginx.settings.locations[location] is defined %}
          {% set location = nginx.settings.locations[location] %}
        {% endif %}

        location {{ location.pattern }} {
            {% if location.includes is defined %}
                {%- for include in location.includes|sort -%}

            # This is include from nginx.settings.includes.{{ include }}
            {{ nginx.settings.includes[include]|trim|indent(12) }}

                {% endfor %}
            {%- endif -%}

            {{ location.location|trim|indent(12) }}
        }

    {%- endfor %}

    # Other settings

        {% if item.value.nginx.settings is defined -%}
        {{ item.value.nginx.settings|trim|indent(8) }}
        {% endif %}

{% endif %}
