{% for key, value in nginx.settings.global.iteritems() | sort %}
{{ key }} {{ value }};
{% endfor %}


events {
    use epoll;

  {% for key, value in nginx.settings.events.iteritems() | sort %}
  {{ key }} {{ value }};
  {% endfor %}

}


http {

  {% for key, value in nginx.settings.http.iteritems() | sort %}
  {{ key }} {{ value }};
  {% endfor %}

  {% for key, value in nginx.settings.upstreams.iteritems() | sort %}

    upstream {{ key }} {
      {{ value }}
    }

  {% endfor %}

    include /etc/nginx/mime.types;
    include /etc/nginx/naxsi_core.rules;
    include /etc/nginx/proxy_params;
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;

}
