server {

    ## Main settings

    listen {% if item.value.listen is defined %}{{ item.value.listen|join(' ; listen ') }}{% else %}{{ nginx.listen|join(' ; listen ') }}{%endif %};

    server_name {{ item.value.name }};

    {% if item.value.aliases is defined %}server_name {{ item.value.aliases|join(' ') }};{%endif %}

    ## Redirections

    # COMMON redirect - from www.example.com to example.com
    set $www '';
    set $h $host;
    if ($host ~* "^([w]{3}\.)(.*)$") {
        set $www $1;
        set $h $2;
    }
    if ($www = 'www.') {
        rewrite ^/(.*)$ $scheme://$h/$1  permanent;
    }

    {% include 'nginx.vhost.base.conf.j2' %}

}
